@use '@carbon/styles/scss/config' with (
  $prefix: 'kg' // Set your desired prefix
);

@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/grid';
@use '@carbon/styles/scss/theme' with (
  $theme: (
    background: #ffffff, // Customize as needed
    text-primary: #000000, // Customize as needed
  )
);

// Import specific components as needed
@use '@carbon/styles/scss/components/button';
@use '@carbon/styles/scss/components/checkbox';

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}

#css-directory {
    width: 100%;
}

